div{
    display: inline-block;
    margin: 0 0.5rem 2rem 1rem;
    padding: 0.5rem;
    height: 100px;
    width: 190px;
    vertical-align: top;
    background-color: deeppink;
    color: lime;
    gap: 1rem;
}

div:nth-child(1){
    filter: drop-shadow(16px 16px);
}

div:nth-child(2){
    filter: drop-shadow(16px 16px blueviolet);
}