/*.textShadow{*/
/*    text-shadow: #000000 0 -2px;*/
/*}*/

.textShadow{
    text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em peachpuff;
    color: green;
    font:
     1.5em Georgia
        serif;
}