*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-image{
    position: relative;
    /*height: 100px;*/
    width: 120px;
    background-color: #FFF;
    padding: 3px;
}

.card{
    width: 400px;
    height: 560px;
    border-radius: 25px;
    background-color: #FFF;
    padding-left: 1.3rem;

}

.card-image .card-img{
    height: 27%;
    width: 25%;
    padding-top: 1rem;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.card-images{
    display: flex;
}

.card-img-para{
    padding-left: 1rem;
    padding-top: 1rem;

}

.handle{
    padding-top: 1rem;
    /*font-size: 1.1rem;*/
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #1e323f;

}

.slide-content{
    margin: 0 40px;
}
/*.image-content,*/
.card-content{
    flex-direction: column;
    align-items: center;
    display: flex;



}

.image-content{
    row-gap: 5px;
    margin: 0;
}

.description{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.3rem;
    color: #1e323f;

}

.jibola{
    height: 85px;
    width: 89px;
}

.twitterName{
    color: #1e323f;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 30px;

}