body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
}

img {
    width: 100%;
}

.fade {
    animation: fade 2s ease-in-out infinite;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
}
